<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>myexercise</title>
        <link rel="stylesheet" href="myexercise.css">
    </head>

    <body>
        <main>
            <%- include('menu.html') %>

            <div class="calendar">
                <header>
                  <h3></h3>
                  <nav>
                     <button id="prev"></button>
                    <button id="next"></button>
                  </nav>
                </header>
                <section>
                   <ul class="days">
                    <li>일</li>
                     <li>월</li>
                     <li>화</li>
                     <li>수</li>
                     <li>목</li> 
                    <li>금</li>
                     <li>토</li>
                  </ul>
                   <ul class="dates"></ul>
                </section>
            </div>

            <div class="bg"></div>
            <img class="vector-26" src="vector-260.svg" />
            <img class="vector-27" src="vector-270.svg" />
            <div class="div6">오늘 할 운동</div>
            <div class="div9">운동 시간 기록</div>
            <div class="rectangle-58"></div>
            <div class="div10">달리기</div>
            <div id="rectangle-62" class="rectangle-62"></div>
            <!-- <img class="group-22" src="group-220.svg" />
            <img class="group-24" src="group-240.svg" /> -->
            <div class="rectangle-63"></div>
            <div class="rectangle-69"></div>
            <div class="div11">복싱</div>
            <div id="rectangle-64" class="rectangle-64"></div>
            <!-- <img class="group-25" src="group-250.svg" />
            <img class="group-26" src="group-260.svg" /> -->
            <div class="rectangle-65"></div>
            <div class="div12">수영</div>
            <div id="rectangle-66" class="rectangle-66"></div>
            <!-- <img class="group-27" src="group-270.svg" />
            <img class="group-28" src="group-280.svg" /> -->
            <div class="rectangle-67"></div>
            <div class="div13">걷기</div>
            <div id="rectangle-68" class="rectangle-68"></div>
            <!-- <img class="group-29" src="group-290.svg" />
            <img class="group-30" src="group-300.svg" /> -->
            <div class="rectangle-55"></div>
            <div class="rectangle-56"></div>


            <div class="div">
                <div class="div2">걷기</div>
                <div class="div3">달리기</div>
                <div class="hh-mm-ss">HH:MM:SS</div>
                <div class="hh-mm-ss2">HH:MM:SS</div>
                <div class="hh-mm-ss3">HH:MM:SS</div>
                <div class="hh-mm-ss4">HH:MM:SS</div>
                <div class="div4">수영</div>
                <div class="div5">복싱</div>
                <img class="free-icon-pencil-117476-1" src="pencil.svg" />
                <div class="rectangle-74"></div>
                <img
                  class="free-icon-pencil-117476-12"
                  src="pencil.svg"
                />
                <div class="rectangle-742"></div>
                <img
                  class="free-icon-pencil-117476-13"
                  src="pencil.svg"
                />
                <div class="rectangle-743"></div>
                <img
                  class="free-icon-pencil-117476-14"
                  src="pencil.svg"
                />
                <div class="rectangle-744"></div>
              </div>
              



     <script src="myexercise.js" defer></script>
      <!-- <img class="vector-28" src="check.png" /> -->
            

        </main>
    </body>
</html>  

