<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>mypage</title>
        <link rel="stylesheet" href="mymate.css">
    </head>

    <body>
        <main>
            <%- include('menu.html') %>

            <div class="bg"></div>
            <div class="div4">
              <div class="bg2"></div>
            </div>
            <div class="div5">
              <div class="bg3"></div>
            </div>
            <div class="div6">
              <div class="bg3"></div>
            </div>
            <div class="div7">
              <div class="bg3"></div>
            </div>
            <div class="div8">나의 메이트목록</div>
            <div class="div9">이름</div>
            <div class="div10" id="mate1">이름</div>
            <div class="div11" id="mate2">이름</div>
            <div class="div12" id="mate3">이름</div>
            <div class="div13" id="mate4">이름</div>
            <div class="div14">나의 메이트</div>
            <img class="group-10" src="profile_pic.svg" />
            <img class="group-65" src="profile_pic.svg" />
            <img class="group-66" src="profile_pic.svg" />
            <img class="group-67" src="profile_pic.svg" />
            <img class="group-68" src="profile_pic.svg" />

            <div class="bg4"></div>
            <div class="bg5"></div>
            <div class="div15">ㅇㅇㅇ 메이트의 오늘 할 운동</div>
            <div class="_12">운동 1</div>
            <div class="hh-mm-ss">HH:MM:SS</div>
            <div class="_2">운동 2</div>
            <div class="hh-mm-ss2">HH:MM:SS</div>
            <div class="_3">운동 3</div>
            <div class="hh-mm-ss3">HH:MM:SS</div>
            <div class="_4">운동 4</div>
            <div class="hh-mm-ss4">HH:MM:SS</div>
            <div class="div16">운동 시간 기록</div>
            <div class="div17">메이트의 한마디</div>
            <div class="rectangle-58"></div>
            <div class="_22">운동 2</div>
            <div class="rectangle-62"></div>

            <div class="rectangle-63"></div>
            <div class="_42">운동 4</div>
            <div class="rectangle-64"></div>

            <div class="rectangle-65"></div>
            <div class="_32">운동 3</div>
            <div class="rectangle-66"></div>

            <div class="rectangle-67"></div>
            <div class="_13">운동 1</div>
            <div class="rectangle-68"></div>

            <div class="bg6"></div>
            <div class="bg7"></div>
            <div class="bg8"></div>
            <img class="group-69" src="profile_pic.svg" />
            <img class="group-70" src="profile_pic.svg" />
            <img class="group-71" src="profile_pic.svg" />
            <div class="_14">메이트1</div>
            <div class="_23">메이트2</div>
            <div class="_33">메이트3</div>
            <div class="div18">
              메이트들이 전하는
              <br />
              응원의 한마디가
              <br />
              이곳에 표시됩니다
            </div>
            <div class="div19">
              열심히 해라
              <br />
              친구야
            </div>
            <div class="div20">근손실은 죽음뿐</div>
            <img class="vector-50" src="vector-500.svg" />
            <img class="vector-51" src="vector-510.svg" />
            <img class="vector-52" src="vector-520.svg" />
            <div class="rectangle-55"></div>
            <div class="rectangle-56"></div>
          </div>

        </main>
    </body>
    <script src="mymate.js" defer></script>
</html>  