<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>mypage</title>
        <link rel="stylesheet" href="mypage.css">
    </head>

    <body>
        <!-- <src xmlns="http://www.w3.org/2000/svg">
            <symbol id="FitMateImage" viewBox="0 0 118 94">
                <image href="fitemate_logo.svg"/>
            </symbol>
        </src> -->

        <main>
            <%- include('menu.html') %>
            <div class="div">
                <div class="div4">오연주</div>
                <div class="div5">님</div>
                <div class="div6">계정 정보</div>
                <div class="div7">개인 정보</div>
                <img class="group-10" src="profile_pic.svg" />
                <div class="component-11">
                <div class="rectangle-43"></div>
            </div>
            <div class="component-17">
            <div class="rectangle-43"></div>
            </div>
  <div class="component-18">
    <div class="rectangle-43"></div>
  </div>
  <div class="component-19">
    <div class="rectangle-43"></div>
  </div>
  <div class="component-20">
    <div class="rectangle-43"></div>
  </div>
  <div class="component-21">
    <div class="rectangle-43"></div>
  </div>
  <div class="div8">아이디</div>
  <div class="_5-yeonchu">@5yeonchu</div>
  <div class="div9">*********</div>
  <div class="_20-xx-xx-xx">20XX.XX.XX</div>
  <div class="xx-cm">XX cm</div>
  <div class="xx-kg">XX kg</div>
  <div class="div10">비밀번호</div>
  <div class="div11">생년월일</div>
  <div class="div12">키</div>
  <div class="div13">선호 운동</div>
  <div class="div14">몸무게</div>
  <div class="div15">정보 변경</div>
  <img class="vector-32" src="vector-320.svg" />
  <img class="vector-33" src="vector-330.svg" />
  <img class="vector-34" src="vector-340.svg" />
  <img class="vector-35" src="vector-350.svg" />
  <img class="vector-38" src="vector-380.svg" />
  <img class="vector-36" src="vector-360.svg" />
  <img class="rectangle-36" src="rectangle-360.svg" />
  <div class="component-24">
    <div class="rectangle-43"></div>
  </div>

  <img class="vector-41" src="vector-410.svg" />
  <div class="component-25">
    <div class="rectangle-43"></div>
  </div>
  <div class="div17">이메일</div>
  <img class="vector-42" src="vector-420.svg" />
</div>
              

        </main>
    </body>
</html>  