<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>playlist</title>
        <link rel="stylesheet" href="playlist.css">
    </head>

    <body>
        <main>
            <%- include('menu.html') %>
            
            <div class="div4">나의 플레이리스트</div>
            <div class="div5">
              플레이리스트
              <br />
              제목
            </div>
            <div class="_1-3">
              <span>
                <span class="_1-3-span">1</span>
                <span class="_1-3-span2">/3</span>
              </span>
            </div>
            <img class="vector-26" src="vector-260.svg" />
            <img class="vector-27" src="vector-270.svg" />
            <div class="rectangle-582"></div>
            <div class="rectangle-632"></div>
            <div class="rectangle-682"></div>
            <div class="rectangle-652"></div>
            <div class="rectangle-672"></div>
            <div class="div6">좌측에 보이는</div>
            <div class="div7">가수명</div>
            <div class="div8">노래</div>
            <div class="div9">더보기</div>
            <div class="div10">가수</div>
            <div class="div11">플레이리스트에</div>
            <div class="div12">가수 이름</div>
            <div class="div13">담긴 노래 중</div>
            <div class="div14">아티스트</div>
            <div class="_5">상위 5개의 곡이</div>
            <div class="div15">이곳에 표시됩니다</div>
            <div class="div16">이곳에 표시됩니다</div>
            <div class="div17">나의 추천곡</div>
            <img class="image-25" src="image-250.png" />
            <img class="image-26" src="image-260.png" />
            <img class="image-27" src="image-270.png" />
            <img class="image-28" src="image-280.png" />
            <img class="image-29" src="image-290.png" />
            <img class="polygon-3" src="polygon-30.svg" />
            <img class="polygon-4" src="polygon-40.svg" />
            <img class="polygon-5" src="polygon-50.svg" />
            <img class="polygon-6" src="polygon-60.svg" />
            <img class="polygon-7" src="polygon-70.svg" />
            <div class="div18">친구들의 추천곡</div>
            <div class="div19">친구들의 추천곡</div>
            <div class="div20">가수명</div>
            <div class="div21">“친구들이 노래에 대해”</div>
            <div class="div22">노래</div>
            <div class="div23">가수</div>
            <div class="div24">메이트의 한마디</div>
            <div class="div25">친구들의 추천곡</div>
            <div class="div26">가수 이름</div>
            <div class="div27">“작성한 한마디가”</div>
            <div class="div28">친구들의 추천곡</div>
            <div class="div29">아티스트</div>
            <div class="div30">“이곳에 표시됩니다”</div>
            <div class="div31">친구들의 추천곡</div>
            <div class="div32">이곳에 표시됩니다</div>
            <div class="div33">“친구들의 한마디”</div>
            <div class="div34">친구들의 추천곡</div>
            <div class="div35">나의 추천곡</div>
            <div class="div36">“친구들의 한마디”</div>
            
            <img class="image-30" src="image-300.png" />
            <img class="image-31" src="image-310.png" />
            <img class="image-32" src="image-320.png" />
            <img class="image-33" src="image-330.png" />
            <img class="image-34" src="image-340.png" />
            <div class="div37">나의 추천곡</div>
            <div class="div38">추가하기</div>
            <div class="group-70">
              <div class="rectangle-583"></div>
              <div class="rectangle-633"></div>
              <div class="rectangle-683"></div>
              <div class="rectangle-653"></div>
              <div class="rectangle-673"></div>
            </div>
            <div class="div39">나의 추천곡</div>
            <div class="div40">가수명</div>
            <div class="div41">노래</div>
            <div class="div42">가수</div>
            <div class="div43">내가 추천한 노래</div>
            <div class="div44">가수 이름</div>
            <div class="div45">추천 노래 제목이</div>
            <div class="div46">아티스트</div>
            <div class="div47">이곳에 표시됩니다</div>
            <div class="div48">이곳에 표시됩니다</div>
            <div class="div49">나의 추천곡</div>
            <div class="div50">나의 추천곡</div>
            <img class="image-40" src="image-400.png" />
            <img class="image-41" src="image-410.png" />
            <img class="image-42" src="image-420.png" />
            <img class="image-43" src="image-430.png" />
            <img class="image-44" src="image-440.png" />
            <img class="polygon-18" src="polygon-180.svg" />
            <img class="polygon-19" src="polygon-190.svg" />
            <img class="polygon-20" src="polygon-200.svg" />
            <img class="polygon-21" src="polygon-210.svg" />
            <img class="polygon-22" src="polygon-220.svg" />
            <div class="group-64">
              <div class="rectangle-556"></div>
              <div class="rectangle-566"></div>
            </div>
            <div class="group-55">
              <div class="rectangle-557"></div>
              <div class="rectangle-567"></div>
            </div>
            <div class="group-56">
              <div class="rectangle-557"></div>
              <div class="rectangle-567"></div>
            </div>
            <div class="group-57">
              <div class="rectangle-558"></div>
              <div class="rectangle-568"></div>
            </div>
            <div class="group-58">
              <div class="rectangle-559"></div>
              <div class="rectangle-569"></div>
            </div>
            <div class="group-59">
              <div class="rectangle-5510"></div>
              <div class="rectangle-5610"></div>
            </div>
            <img class="group-10" src="group-100.svg" />
            <img class="group-65" src="group-650.svg" />
            <img class="group-66" src="group-660.svg" />
            <img class="group-67" src="group-670.svg" />
            <img class="group-68" src="group-680.svg" />
            <div class="div51">플레이리스트</div>
          </div>
              

        </main>
    </body>
</html>  