<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>나에게 꼭 맞는 메이트, FitMate</title>
        
        <link rel="stylesheet" href="homepage.css">

        <script src = "homepage.js"></script>
    </head>

    <body>
        <main>
            <nav class="navbar">
                <ul class="navbar_logo">
                    <li><img class="logo_image" src="fitmate_logo.svg" alt="이미지X"/></li>
                    <!-- <li><a href="/2nd.html">FitMate</a></li> -->
                </ul>

                <ul class="navbar_menu">
                    <li><a href="#" class="nav-link">나의 운동</a></li>
                    <li><a href="#" class="nav-link">나의 메이트</a></li>
                    <li><a href="#" class="nav-link">메이트 찾기</a></li>
                    <li><a href="#" class="nav-link">플레이리스트</a></li>
                    <li><a href="#" class="nav-link">마이페이지</a></li>
                </ul>

                <ul class="navbar_btns">
                    <li><button type="button" id="loginBtn1" class="btn btn-outline">회원가입</button></li>
                    <li><button type="button" id="loginBtn2" class="btn btn-color">로그인</button></a></li>
                </ul>
            </nav>
            <div class="p0">
                <div class="p1">나에게 꼭 맞는 운동 메이트,</div>
                <div class="p2">FitMate</div>
            </div>
        </main>

        <div id="loginModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>로그인이 필요합니다. 로그인 해주세요.</p>
                <button id="modalLoginBtn" class="btn btn-color">로그인</button>
            </div>
        </div>

    </body>
</html>