<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>join</title>

    <link rel="stylesheet" href="join.css">

    <script src = "join.js"></script>
</head>
<body>
    <main>
        <div class="div">
            <li><img class="logo_image" src="fitmate_logo.svg" alt="이미지X"/></li>
            <div class="div4">회원가입</div>
            <div class="component-11">
              <div class="rectangle-43"></div>
            </div>
            <div class="component-17">
              <div class="rectangle-43"></div>
            </div>
            <div class="component-22">
              <div class="rectangle-43"></div>
            </div>
            <div class="component-24">
              <div class="rectangle-43"></div>
            </div>
            <div class="component-18">
              <div class="rectangle-43"></div>
            </div>
            <div class="component-19">
              <div class="rectangle-43"></div>
            </div>
            <div class="component-20">
              <div class="rectangle-43"></div>
            </div>
            <div class="component-21">
              <div class="rectangle-43"></div>
            </div>
            <div class="div5">아이디</div>
            <div class="_20-xx-xx-xx">20XX.XX.XX</div>
            <div class="xx-cm">XX cm</div>
            <div class="xx-kg">XX kg</div>
            <div class="div6">비밀번호</div>
            <div class="div7">비밀번호 확인</div>
            <div class="div8">비밀번호 확인</div>
            <div class="div9">생년월일</div>
            <div class="div10">키</div>
            <div class="div11">선호 운동</div>
            <div class="div12">몸무게</div>
            <img class="vector-32" src="vector-320.svg" />
            <img class="vector-33" src="vector-330.svg" />
            <img class="vector-39" src="vector-390.svg" />
            <img class="vector-41" src="vector-410.svg" />
            <div class="component-25">
              <div class="rectangle-43"></div>
            </div>
            <div class="div7">비밀번호 확인</div>
            <div class="div13">이메일</div>
            <img class="vector-40" src="vector-400.svg" />
            <img class="vector-42" src="vector-420.svg" />
            <img class="vector-34" src="vector-340.svg" />
            <img class="vector-35" src="vector-350.svg" />
            <img class="vector-38" src="vector-380.svg" />
            <img class="vector-36" src="vector-360.svg" />
            <img class="rectangle-36" src="rectangle-360.svg" />
            <div class="component-23">
              <div class="component-26">
                <div class="rectangle-51"></div>
              </div>
              <div class="div14">가입하기</div>
            </div>
          </div>
          


    
    </main>
</body>
</html>